body {
    background-color: #000000; /* You can change this to any color */
    color: #fffaf3;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#clock-container {
    text-align: center;
}

#time {
    font-size: 20vw; /* Scales with screen width */
    font-weight: bold;
}

#date {
    font-size: 5vw;
    opacity: 0.7;
}
